*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;

    /*background: radial-gradient(circle, #57b8bc 20%, #259faf);*/
    background: radial-gradient( #57b8bc 20%, #259faf);


    position: relative;
}
.hero header .logo h2 a{
    display: block;
    font-size: 64px;
    font-weight: 800;
    text-decoration: none;
    color: white;
}
.hero header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Align items in column */

}

body{
    overflow-x: hidden;
}

.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}


.hero header .logo h2 a{
    display: block;
    font-size: 64px;
    font-weight: 800;
    text-decoration: none;
    color: white;
}
.hero header{
    display: flex;
    align-item: center;
    justify-content: space-between;

}


.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.content .main-text h6{
    font-size: 14px ;
    font-weight: 400;
    color: white;
    
}

.content .main-text h1{
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    color: white;
    margin: 10px 10px 25px 0px;
}
.content .main-text h3{
    font-size:18px;
    font-weight: 600;
    color: white;
    margin: 100px 0px 0px 0px;
}
.content .main-text p{
    max-width: 100% ;
    width: 480px;
    color:white;
    line-height: 1.5;
    font-size:15px;
    margin-bottom: 50px;

}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}

.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #259faf;
    background-color: transparent;
    color: white;
    transition: .4s;
}

.content .social{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    padding-bottom: 40px;

}
.content .social a{
    display: inline-block;
    color: #88f5ee;
    margin-right: 25px;
    font-size: 24px;
}

.content .social a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: white;
}



#gamesboard-container {
    transform: scale(2); /* Tăng kích thước lên 25% */

    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 150px 411px ;
}

.block {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid hsla(0,0%,100%,0.5);
      
}
.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(Picture/ocean.gif);
}

.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.imagelogo1{
    position: absolute;
    width: 500px;
    height: 500px;
    text-align: right;
    top: 100px;
    right:200px;
    transform:scale(1.3);
}




.option-container {
    transform: scale(2); /* Tăng kích thước lên 25% */
    width: 500px;
    height: 60px;

    background-color: #3f59d0;
    display: flex;
    align-items: center;
    margin: 30px 411px ;
}
#flip-button {
    background-color: #4CAF50; /* Màu nền */
    border: none; /* Không có đường viền */
    color: white; /* Màu chữ */
    padding: 15px 32px; /* Kích thước lề bên trong */
    text-align: center; /* Căn giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    display: inline-block; /* Hiển thị là một khối inline */
    font-size: 12px; /* Kích thước chữ */
    margin: 10px 50px 0 161px ; /* Lề bên trong */
    cursor: pointer; /* Con trỏ chuột */
    border-radius: 8px; /* Độ cong của góc */
}
#start-button{
    background-color: #4CAF50; /* Màu nền */
    border: none; /* Không có đường viền */
    color: white; /* Màu chữ */
    padding: 15px 32px; /* Kích thước lề bên trong */
    text-align: center; /* Căn giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    display: inline-block; /* Hiển thị là một khối inline */
    font-size: 12px; /* Kích thước chữ */
    margin: 4px 2px; /* Lề bên trong */
    cursor: pointer; /* Con trỏ chuột */
    border-radius: 8px; /* Độ cong của góc */

}


.destroyer {
    background-color: #003d9f;
}

.submarine {
    background-color: #1d2951;
}

.cruiser {
    background-color: #5bfe97;
}

.battleship {
    background-color: aqua;
}
.carrier{
    background-color: #95c8d8;
}
.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}


.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;

}


.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}
.carrier-preview{
    width:50px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.hover{
    background-color: grey;
}
#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: #1AA7EC;
}
.boom{
    background-color: #1AA7EC!important;
    background-image: url('Picture/X.png') ;
    background-size: cover;
}
.Miss{
    background-color: #1AA7EC!important;
    background-image: url('Picture/Hole.png');
    background-size: cover;
}

.Missyou {
    background-image: url('Picture/missyou.gif');
    background-size: cover;
    background-position: center;}

.wabam {
    background-image: url('Picture/boomomg.gif');
    background-size: cover;
    background-position: center;}