

h1 {
  font-family: verdana;
  font-size: 300%;
  color:#1d2951;
  padding: 20px
}
p {
  color: rgb(255, 0, 0);
  font-family: 'Times New Roman';
  font-size: 100%;
}




#gamesboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.game-board {
        width: 200px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        
    }
.block {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid hsla(0,0%,100%,0.5);
      
}




.option-container {
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: #3f59d0;
    display: flex;
    align-items: center;
}

.destroyer {
    background-color: #003d9f;
}

.submarine {
    background-color: #1d2951;
}

.cruiser {
    background-color: #5bfe97;
}

.battleship {
    background-color: aqua;
}
.carrier{
    background-color: #95c8d8;
}
.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}


.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;

}


.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}
.carrier-preview{
    width:50px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.hover{
    background-color: grey;
}
.boom{
    background-color: #ffffff;
    background-image: url('Picture/X.png');
    background-size: cover;
}
.empty{
    background-color: grey;
}
