:root {
    /* Colours */
    --main-water: #74f5d2;
    --main-boat: #44e505;
    --main-touched: #ff4500cc;
    --main-sunken: red;
    --background-sunken:
            url('Project-BattlesShip/Picture/boomomg.gif');


}

.container {
    margin-top: 100px;
    text-align: center;
    height: 740px;

}
#player_grid {
    float: left;
    margin-left: 100px;
    margin-right: 60px;
    user-select: none;
}
.grid_btn {
    height: 32.4px; /* Giảm 10% từ 36px */
    width: 32.4px;  /* Giảm 10% từ 36px */
    cursor: pointer;
    color: transparent;
    transition: 0.5s;
    text-align: center;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    margin: 2px;
    user-select: none;
}

.grid_btn[data-type="info"] {
    cursor: auto;
    color: initial;
    background-color: #146df3;
}
.grid_btn[data-type="player"] {
    pointer-events: none;
    transition: 3s;
}
#invisible {
    visibility: hidden;
}
#restart_btn {
    cursor: pointer;
}
/* Message Box Text */
#message_box {
    border: 1px solid #e5e5e5;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;
    font-size: 14px;
    height: 214px;
    overflow-y: auto;
}
.box_text {
    font-weight: bold;
}
#text_2 {
    color: #00afff;
}
#text_3 {
    color: var(--main-touched);
}
#text_4 {
    color: var(--main-sunken);
}
#important_msg {
    background-color: orange;
}

/* Boat cells */
#cell_water, #cell_touched, #cell_sunken {
    pointer-events: none;
}
#cell_player_boat {
    background-color: var(--main-boat);
}
#cell_water {
    background-color: var(--main-water);
}
#cell_touched {
    background-color: var(--main-touched);

}
#cell_sunken {
    background: var(--background-sunken);
}


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    overflow-x: hidden;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient( #6ec1f6 20%, #8fe8e8);
    position: relative;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;

    /*background: radial-gradient(circle, #57b8bc 20%, #259faf);*/
    background: radial-gradient( #6ec1f6 20%, #8fe8e8);
    position: relative;
}
.hero header .logo h2 a{
    display: block;
    font-size: 64px;
    font-weight: 800;
    text-decoration: none;
    color: white;
}
.hero header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Align items in column */

}

body{
    overflow-x: hidden;
}

.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}


.hero header .logo h2 a{
    display: block;
    font-size: 64px;
    font-weight: 800;
    text-decoration: none;
    color: white;
}
.hero header{
    display: flex;
    align-item: center;
    justify-content: space-between;

}


.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.content .main-text h6{
    font-size: 14px ;
    font-weight: 400;
    color: white;

}

.content .main-text h1{
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    color: white;
    margin: 10px 10px 25px 0px;
}
.content .main-text h3{
    font-size:18px;
    font-weight: 600;
    color: white;
    margin: 100px 0px 0px 0px;
}
.content .main-text p{
    max-width: 100% ;
    width: 480px;
    color:white;
    line-height: 1.5;
    font-size:15px;
    margin-bottom: 50px;

}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}

.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #259faf;
    background-color: transparent;
    color: white;
    transition: .4s;
}

.content .social{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    padding-bottom: 40px;

}
.content .social a{
    display: inline-block;
    color: #88f5ee;
    margin-right: 25px;
    font-size: 24px;
}

.content .social a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: white;
}



#gamesboard-container {
    transform: scale(2); /* Tăng kích thước lên 25% */

    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 150px 411px ;
}



.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}


.imagelogo1{
    position: absolute;
    width: 500px;
    height: 500px;
    text-align: right;
    top: 100px;
    right:200px;
    transform:scale(1.3);
}

/* CSS để ẩn modal ban đầu */
.modal {
    display: none;
}

/* CSS để thiết lập kiểu của modal */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

/* CSS cho nút */
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#closeCongratsModal {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

